#activity-details {
    color: dimgray;
    display: flex;
    justify-content: center;
    font-size: small;
    align-items: center;
    margin-bottom: 10px;
}
#activity-details a {
    color: dimgray;
}
.span-icon {
    height: 16px;
    margin-right: 5px;
}
.activity-marker {
    margin-left: 10px;
}
.branch-icon {
    max-width: 24px;
    max-height: 24px;
    margin-right: 5px;
}
.subscribe-button {
    margin: auto 5px 10px;
}
#subscription-block, #activity-admin, #multiple-options {
    display: none;
}
#subscription-form input, #activity-admin button {
    margin: 4px;
}