#branch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#branch-logo {
    max-height: 300px;
    max-width: 100%;
}
@media only screen and (max-width: 800px) {
    .staffPicture {
        width: 90%;
        height: auto;
    }
}
