.btn-group {
    margin: 5px auto;
}
.btn-group .btn:focus {
    border: none;
}
.calendar-group {
    max-width: 700px;
    margin: auto;
    overflow: auto;
    height: 400px;
}
.calendar-item {
    transition: box-shadow .3s;
    max-width: 700px;
    margin: 10px auto;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
    align-items: center;
}
.calendar-item:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.calendar-item-image {
    max-width: 300px;
    max-height: 100%;
}
.calendar-item-content {
    margin: auto;
    padding: 10px;
    overflow-wrap: break-word;
}
.calendar-item-title {
    font-size: 1.6rem;
    font-weight: bold;
}
.calendar-item-details {
    color: dimgray;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar-item-details a {
    color: dimgray;
}
.span-icon {
    height: 16px;
    margin-right: 5px;
}
.calendar-marker {
    margin-left: 10px;
}
.loader {
    margin: auto;
    border: 8px solid #f3f3f3;
    border-top: 8px solid dimgray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media only screen and (max-width: 800px) {
    .calendar-item {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .calendar-item-image {
        max-width: 100%;
        max-height: none;
    }
}
