#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.links {
    max-width: 40px;
}
#map {
    height: 500px;
    width: 500px;
    margin: 20px;
}