#event-details {
    color: dimgray;
    display: flex;
    justify-content: center;
    font-size: small;
    align-items: center;
    margin-bottom: 10px;
}
#event-details a {
    color: dimgray;
}
.span-icon {
    height: 16px;
    margin-right: 5px;
}
.event-marker {
    margin-left: 10px;
}
#subscribe-button {
    margin: auto 5px 10px;
}
#event-admin, #confirmation {
    display: none;
}
#registration-form input, #registration-form textarea, #event-admin button {
    margin: auto 10px auto 4px;
}
#registration-feedback {
    color: red;
}
#additional-form input[type=number] {
    width: 50px;
}
#additional-form-title {
    margin-top: 10px;
}
.event-field {
    display: inline-block;
}