#mobile-navigation {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #181818;
}
.mobile-menu {
    text-align: center;
    width: 100%;
    font-size: 28px;
    height: 100%;
    display: none;
}
#main-mobile-menu {
    display: block;
}
.mobile-menu a {
    margin: 20px;
    text-decoration: none;
    color: white !important;
    display: block;
    cursor: pointer;
}