.navigation-item {
    display: inline-block;
    padding: 15px 20px;
}
.navigation-item i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.navigation-item .down {
    margin: 0 0 3px 4px;
    transform: rotate(45deg);
}
.dropdown-block {
    display: inline-block;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: #282828;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.dropdown-item {
    color: white;
    padding: 12px 16px;
}
.dropdown-item:hover, .navigation-item:hover {
    cursor: pointer;
}
@media only screen and (max-width: 1100px) {
    #navigation {
        display: none;
    }
}
@media only screen and (min-width: 1100px) {
    .dropdown-item:hover, .navigation-item:hover {
        background: dimgrey;
    }
    .dropdown-block:hover .dropdown {
        display: table;
    }
}
#mobile-navigation {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: #181818;
}
.mobile-menu {
    text-align: center;
    width: 100%;
    font-size: 28px;
    height: 100%;
    display: none;
}
#main-mobile-menu {
    display: block;
}
.mobile-menu a {
    margin: 20px;
    text-decoration: none;
    color: white !important;
    display: block;
    cursor: pointer;
}
#branch-menu, #activity-menu, #event-menu, #main-branch-menu, #main-activity-menu, #main-event-menu {
    display: none;
}