#profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    border: #999999 2px solid;
    background-image: url("/images/profile/default.png");
    background-size: cover;
    background-position: center;
}
#profile-name, #profile-pic {
    float: left;
}
#profile-name {
    margin-right: 10px;
}
#profile-dropdown-block {
    padding: 15px 20px;
}
#profile:hover {
    cursor: pointer;
    background: dimgrey;
}
#profile:hover #profile-dropdown {
    display: table;
}
#profile-dropdown {
    top: 60px;
    right: 0;
}
#profile {
    max-height: 60px;
}
#profile-data {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
#profile-data div {
    margin-left: 5px;
    margin-right: 5px;
}
#profile-data-details {
    text-align: left;
}
.staffPicture {
    width: 400px;
    height: 270px;
    margin: 10px auto;
}
@media only screen and (max-width: 1000px) {
    #profile-name {
        display: none;
    }
}