@import url(../profile/profile.css);
@import url(burger.css);
@import url(nav.css);
@import url(footer.css);
@import url(location.css);

html, body {
    height: 100%;
    margin: 0;
}
body {
    background: #181818;
    font-family: Georgia, Avenir, serif;
    display: flex;
    flex-direction: column;
}
#body-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
#header {
    top: 0;
    z-index: 2;
    width: 100%;
    position: fixed;
    font-size: 20px;
    color: #eeeeee;
    background: #181818;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
#title {
    margin: 150px auto;
    color: white;
    width: fit-content;
    font-size: 65px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    box-shadow: 0 0 15px 15px rgba(0,0,0,.4);
    display: flex;
    align-items: center;
    text-align: center;
}
#title-wrapper {
    height: 400px;
    background: url('/images/background/default.jpg') center no-repeat;
    background-size: cover;
    transition: background 1s;
    padding: 10px;
}
#content {
    flex: 1;
    text-align: center;
    background: white;
    padding: 10px 40px;
    box-sizing: border-box;
}
#content p {
    max-width: 700px;
    margin: 0 auto 1rem;
}
#credits {
    text-align: center;
    color: white;
    margin: 20px 0;
}
#credits a {
    color: white;
}
.hidden {
    display: none;
}
.underline {
    cursor: pointer;
    text-decoration: underline !important;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}
@media only screen and (max-width: 800px) {
    #credits {
        display: none;
    }
    #title-wrapper {
        height: auto;
    }
    #title {
        font-size: 30px;
        margin: 60px auto 0;
    }
    #content {
        margin: auto;
        padding: 10px;
        width: 100%;
    }
}
.loader {
    margin: 0 auto 1rem;;
    border: 8px solid #f3f3f3;
    border-top: 8px solid dimgray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.edit-icon {
    position: relative;
    top: -3px;
    width: 16px;
    cursor: pointer;
}
.http-status-image {
    max-width: 100%;
}
th.sort-asc::after {
    content: " ▲";
}
th.sort-desc::after {
    content: " ▼";
}
button, input[type=button] {
    background: #181818;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.row-button {
    padding: 10px 20px;
    margin-bottom: 1rem;
}
button:hover, input[type=button]:hover {
    background: dimgrey;
}
tfoot th:empty {
    padding: 0;
}
.CodeMirror {
    border: 1px solid black;
    height: auto;
    text-align: left;
}
.cm-scroller {
    overflow: auto;
}