#profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    border: #999999 2px solid;
    background-image: url("/images/profile/default.png");
    background-size: cover;
    background-position: center;
}
#profile-name, #profile-pic {
    float: left;
}
#profile-name {
    margin-right: 10px;
}
#profile-dropdown-block {
    padding: 15px 20px;
}
#profile-dropdown {
    top: 60px;
    right: 0;
}
#profile {
    max-height: 60px;
}
#profile-data {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
#profile-data {
    margin: auto 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#profile-image-div {
    width: 400px;
    height: 270px;
    margin: 10px;
    border: solid 3px black;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    box-sizing: content-box;
    overflow: hidden;
}
#profile-image-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile-pic {
    position: absolute;
    top: 0;
    left: 0;
}
#profile-image-new-pic, #profile-image-pic {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#profile-image-new-pic {
    width: 400px;
    z-index: 1;
    display: none;
}
#profile-image-div:hover #profile-image-pic {
    opacity: 50%;
}
#profile-image-div:hover #profile-image-new-pic {
    display: inline-block;
}
@media only screen and (max-width: 1100px) {
    #profile-name {
        display: none;
    }
}
@media only screen and (min-width: 1100px) {
    #profile-pic {
        pointer-events: none;
    }
}
#mobile-profile {
    display: none;
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: #181818;
}
.icon-column {
    width: 25px;
}
.subscription-icon {
    width: 20px;
}
tbody .subscription-icon {
    cursor: pointer;
}
#confirmation, #cancel {
    display: none;
}