#event-details {
    color: dimgray;
    display: flex;
    justify-content: center;
    font-size: small;
    align-items: center;
    margin-bottom: 10px;
}
#event-details a {
    color: dimgray;
}
.span-icon {
    height: 16px;
    margin-right: 5px;
}
.event-marker {
    margin-left: 10px;
}
#subscribe-button {
    margin: auto 5px 10px;
}
#event-admin, #confirmation, #cancel {
    display: none;
}
#registration-form input, #registration-form textarea, #event-admin button {
    margin: auto 10px auto 4px;
}
#registration-feedback {
    color: red;
}
#additional-form input[type=number] {
    width: 50px;
}
#additional-form-title {
    margin-top: 10px;
}
.event-field {
    display: inline-block;
}
#checks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#checks div {
    margin: auto 10px;
}
#event-name-wrapper {
     display: table;
     width: 100%;
     margin-bottom: 5px;
 }
#event-name-label {
    display: table-cell;
    width: 1px;
    padding-right: 3px;
}
#event-name-input {
    display: table-cell;
    width: 100%;
}
#event-meta-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
#event-form textarea {
    width: 100%;
}