.btn-group {
    margin: 5px auto;
}
.btn-group .btn:focus {
    border: none;
}
.calendar {
    max-width: 700px;
    margin: auto;
}
.calendar-item {
    transition: box-shadow .3s;
    max-width: 700px;
    margin: 10px auto;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
    align-items: center;
}
.calendar-item:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.calendar-item-image {
    max-width: 300px;
    max-height: 100%;
}
.calendar-item-content {
    margin: auto;
    padding: 10px;
    overflow-wrap: break-word;
}
.calendar-item-title {
    font-size: 1.6rem;
    font-weight: bold;
}
.calendar-item-details {
    color: dimgray;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar-item-details a {
    color: dimgray;
}
.span-icon {
    height: 16px;
    margin-right: 5px;
}
.calendar-marker {
    margin-left: 10px;
}
@media only screen and (max-width: 800px) {
    .calendar-item {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .calendar-item-image {
        max-width: 100%;
        max-height: none;
    }
}
#item-title-wrapper {
    display: table;
    width: 100%;
    margin-bottom: 5px;
}
#item-title-label {
    display: table-cell;
    width: 1px;
    padding-right: 3px;
}
#item-title {
    display: table-cell;
    width: 100%;
}
#item-meta-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
#item-meta-wrapper div {
    margin: auto 10px;
}
#item-location {
    width: 200px;
}
#item-content, #intro, #outro {
    width: 100%
}
.passed, .staff, .admin {
    display: none;
}
.staff {
    justify-content: center;
    flex-wrap: wrap;
}
.staff div {
    margin: auto 10px;
}
#form-feedback {
    color: red;
}
.intro-outro-placeholder {
    cursor: pointer;
}
#item-image-div {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: solid 3px black;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    box-sizing: content-box;
    overflow: hidden;
}
#item-image-pic {
    width: 300px;
}
.item-pic {
    position: absolute;
    top: 0;
    left: 0;
}
#item-image-new-pic, #item-image-pic {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#item-image-new-pic {
    width: 300px;
    z-index: 1;
    display: none;
}
#item-image-div:hover #item-image-pic {
    opacity: 0;
}
#item-image-div:hover #item-image-new-pic {
    display: inline-block;
}
#item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}