body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: lightgray;
}
html, body {
    height: 100%;
}
#loginbody {
    background: url("images/login_background.JPG") no-repeat;
    background-size: cover;
}
#main {
    width: 300px;
    height: 100%;
    float: left;
    font-weight: bold;
    color: white;
    padding: 0 30px 0;
    background-color: rgba(0, 0, 0, 0.4);;
    position: relative;
}
#login {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
input[id=name],input[id=password] {
    width: 85%;
    padding: 10px 10px 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size:16px;
}
#loginbutton {
    background: url("images/button_icon.png") no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin: 5px auto;
    border: 0;
    cursor: pointer;
}
#login_error {
    color: darkred;
}
#profile {
    padding: 30px;
    font-size: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#profile-pic {
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: #999999 2px solid;
    background-size: cover;
    background: url("/backoffice/images/users/default.png");
}
#username, #profile-pic, #logout {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#username {
    font-weight: bold;
    left: 80px;
}
#logout {
    border: solid 4px transparent;
    border-radius: 5px;
    right: 30px;
    font-weight: bold;
    color: white;
}
a {
    text-decoration: none;
    color: white;
    font-weight: normal;
}
#menu {
    font-size: 10px;
    background-color: black;
    width: 300px;
    float: left;
    height: 100%;
}
.menubaritem {
    width: 280px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: white
}
.menubaritem:hover, #logout:hover {
    background-color: #343536;
}
#platform-content {
    padding: 15px 30px;
    overflow: hidden;
    width: auto;
}
#platform-content h1 {
    font-size: 20px;
}
#platform-content p, #platform-content label {
    font-size: 15px;
}
input[type=text], input[type=email], input[type=tel], input[type=password], input[type=number], select, button, #picToUpload {
    margin: 8px auto;
}
input[type=file] {
    margin: -25px auto 8px;
}
#profilepic {
    max-width: 300px;
    float:right;
    margin-right: 40px;
    border: solid 3px #37342B;
    border-radius: 5px;
}
.itembutton {
    width: 10px;
}
#itemtitle {
    width: 250px;
}
#calendar {
    border: 0;
    width: 800px;
    height: 600px;
    border: none;
}
.pointer {
    cursor: pointer;
}