{
  "realm": "scouts",
  "auth-server-url": "https://login.scoutsengidsenvlaanderen.be/auth/",
  "ssl-required": "all",
  "resource": "<your-resource-id>",
  "public-client": true,
  "confidential-port": 0
}