body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: lightgray;
}
html, body {
    height: 100%;
}
#loginbody {
    background: url("/backoffice/images/login_background.JPG") no-repeat;
    background-size: cover;
}
#main {
    width: 300px;
    height: 100%;
    float: left;
    font-weight: bold;
    color: white;
    padding: 0 30px 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
}
#login {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
input[id=username-input],input[id=password-input] {
    width: 85%;
    padding: 10px 10px 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size:16px;
}
form i {
    margin-left: -30px;
    cursor: pointer;
}
#loginbutton {
    background: url("../images/button_icon.png") no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin: 5px auto;
    border: 0;
    cursor: pointer;
}
#login_error {
    color: darkred;
}
#profile {
    padding: 30px 20px;
    font-size: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#profile-pic {
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: #999999 2px solid;
    background: url("/backoffice/images/users/default.png");
}
#user, #profile-pic, #logout {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#user {
    font-weight: bold;
    left: 70px;
}
#admin-img {
    width: 18px;
}
#logout {
    width: 30px;
    right: 20px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
    font-weight: normal;
}
#platform-content a {
    color: black;
    font-weight: bold;
}
#menu {
    background-color: black;
    float: left;
    height: 100%;
}
.menubaritem {
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
#platform-content {
    font-size: 15px;
    padding: 15px 30px;
    overflow: hidden;
    width: auto;
}
#platform-content h1 {
    font-size: 25px;
}
#platform-content h2 {
    font-size: 18px;
}
#staff-pic-div {
    display: none;
    width: 400px;
    height: 270px;
    float: right;
    margin-right: 40px;
    border: solid 3px #37342B;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
#staff-pic {
    width: 400px;
    height: 270px;
}
.staff-pic {
    position: absolute;
    top: 0;
    left: 0;
}
#staff-new-pic {
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
}
#staff-pic-div:hover #staff-pic {
    opacity: 70%;
}
#staff-pic-div:hover #staff-new-pic {
    display: inline-block;
}
.itembutton {
    width: 10px;
}
#itemtitle {
    width: 250px;
}
#calendar {
    border: 0;
    width: 800px;
    height: 600px;
    border: none;
}
.pointer {
    cursor: pointer;
}
.hidden {
    display: none;
}
#staff-pic-form {
    display: none;
}
.text-menu-item {
    display: none;
    height: 35px;
}
#menu img {
    width: 30px;
}
form {
    display: table;
}
form p {
    display: table-row;
}
input, label, select {
    display: table-cell;
    margin: 0.5em 0.5em 0.5em 0;
}
form span {
    margin: 0.5em auto;
}
form label {
    padding-right: 0.5em;
}
#group-content, #page-content, #staff-username {
    display: none;
}
#login_form input, #login_form label {
    display: inline;
}
#left, #banner, #right {
    display: inline-block;
    background: center no-repeat;
    height: 150px;
}
#left, #right {
    width: 50px;
    cursor: pointer;
    background-size: contain;
}
#left {
    background-image: url("/images/left-chevron.png");
}
#right {
    background-image: url("/images/right-chevron.png");
}
#left:hover, #right:hover {
    opacity: 80%;
}
#banner {
    width: 600px;
    background-size: cover;
    cursor: pointer;
}