#activity-details {
    color: dimgray;
    display: flex;
    justify-content: center;
    font-size: small;
    align-items: center;
    margin-bottom: 10px;
}
#activity-details a {
    color: dimgray;
}
.span-icon {
    height: 16px;
    margin-right: 5px;
}
.activity-marker {
    margin-left: 10px;
}
.branch-icon {
    max-width: 24px;
    max-height: 24px;
    margin-right: 5px;
}
#subscribe-button {
    margin: auto 5px 10px;
}
#subscription-block, #activity-admin, #multiple-options {
    display: none;
}
#subscription-form input, #activity-admin button {
    margin: 4px;
}
#checks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#checks div {
    margin: auto 10px;
}
#activity-name-wrapper {
    display: table;
    width: 100%;
    margin-bottom: 5px;
}
#activity-name-label {
    display: table-cell;
    width: 1px;
    padding-right: 3px;
}
#activity-name-input {
    display: table-cell;
    width: 100%;
}
#activity-meta-wrapper, #activity-meta-wrapper-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
#activity-location {
    width: 200px;
}
#form-feedback {
    color: red;
}
#activity-form textarea {
    width: 100%;
}
.CodeMirror {
    border: 1px solid black;
    height: auto;
    text-align: left;
}
.cm-scroller {
    overflow: auto;
}
input[type=number] {
    width: 50px;
}